<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="./common/tree.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="./common/tree.js"></script>

  <script type="text/javascript" src="datas.js"></script>
</head>
<body>
  <div id="root" style="width: 400px;"></div>

  <script>
    var tree = new Tree('root', datas)

    tree.init()
  </script>
</body>
</html>